.table {
    width: 100%;
    text-align: center;
    border-collapse: collapse; /* Ensures borders don't double up */
}

.table th, .table td {
    border: 2px solid rgba(10, 244, 6, 0.947); /* Adds borders to table cells */
    padding: 10px; /* Adds spacing for better readability */
}

.table-header{
    color: black;
    background-color: aqua;
}

img{
    width: 100px;
}

